<?xml version='1.0'?>
<launch>
	<arg name="wp_name" default="home"/>
	<arg name="uav_name" default="emulated_uav"/>

	<!-- Load the waypoints from file, and send them as a ROS topic -->
	<node pkg="contrail" type="load_waypoints" name="load_waypoints" clear_params="true"
	ns="$(arg uav_name)" output="screen">
		<param name="frame_id" value="map" />
		<rosparam command="load" file="$(find egh450_path_planning)/src/$(arg wp_name).yaml"/>
	</node>

	<!-- Navigator Node -->
	<node pkg="egh450_path_planning" type="planner" name="planner" clear_params="true" output="screen">

		<!-- These topics need to be remapped correctly! -->
		<!-- Input to contrail for path tracking -->
		<remap from="~path" to="/path"/>
		<remap from="~waypoints" to="/emulated_uav/waypoints"/>
		<!-- Service to request a safe path from breadcrumb -->
		<remap from="~request_path" to="/breadcrumb/request_path"/>

	</node>

	<!-- Breadcrumb Node -->
	<node pkg="breadcrumb" type="breadcrumb_node" name="breadcrumb" clear_params="true" output="screen">
		<param name="search_heuristic" value="1" type="int"/>
		<param name="allow_diagonals" value="true" type="bool"/>
		<param name="obstacle_threshold" value="50" type="int"/>
		<!-- Occupancy grid input -->
		<remap from="grid" to="/grid/real"/>


	</node>




</launch>
